.auth__page h1 {
  color: #5eced1;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
}

.auth__page .body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px 0 20px;
  margin-bottom: 30px;
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
}

.auth__form form {
  display: flex;
  flex-direction: column;
}

.auth__form label {
  margin-bottom: 10px;
  color: #b0b0b0;
}

.auth__form input {
  background: #1a1a1a;
  margin-bottom: 20px;
  height: 25px;
  padding-left: 5px;
  color: #b0b0b0;
}

.auth__form input:last-of-type {
  margin-bottom: 40px;
}

.auth__button {
  width: auto;
  align-self: center;
  padding: 8px 12px;
  border-radius: 4px;
  background: none;
  border: 4px solid #b0b0b0;
  font-size: 1rem;
  color: #b0b0b0;
  transition: 250ms ease;
}

.auth__button:hover {
  border: 4px solid #5eced1;
  color: #5eced1;
}

#toggle__link {
  color: #b0b0b0;
}

#toggle__link span {
  color: #b0b0b0;
  text-decoration: underline;
  text-decoration-color: #5eced1;
  cursor: default;
}

#toggle__link span:hover {
  color: #5eced1;
}
